@using StoreApp.AppServices.City.Dtos
@model CreateCityDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit" method="post">

    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CountryId" class="form-label"></label>
        <select asp-for="CountryId" asp-items='ViewData["CountryList"] as SelectList' class="form-select">
            <option selected>Choose...</option>

        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>



@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}