@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@await Component.InvokeAsync("CountryList")

@await Component.InvokeAsync("CountryList", new { numRows =3, display="table"})
<vc:country-list num-rows="5" display="table"></vc:country-list>
