@using Newtonsoft.Json
@if (TempData.ContainsKey("MessageInfo"))
{

    var msg = JsonConvert.DeserializeObject<MessageInfo>(TempData["MessageInfo"].ToString());
    var alertType = msg.Type switch
    {
        MessageType.Success => "alert-success",
        MessageType.Fail => "alert-danger",
        MessageType.Warning => "alert-warning",

        _ => "alert-info"


    };


    <div class="alert @alertType alert-dismissible"> @msg.Name</div>
}